body {
  /* Set the background image */
  background-image: url("assets/images/test-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  /* Ensure the body covers the entire viewport height */
  min-height: 100vh;

  /* Center content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Media query for smaller devices */
@media only screen and (max-device-width: 1366px) {
  body {
    /* Allow background attachment to scroll on smaller devices */
    background-attachment: scroll;
  }
}
.img-fluid {
  height: 200px;
  width: 200px;
}

#communication {
  transition: transform 0.5s ease;
}

#communication:hover {
  transform: scale(1.1); /* Adjust the scale value to control the zoom level */
}

#technology {
  transition: transform 0.5s ease;
}

#technology:hover {
  transform: scale(1.1); /* Adjust the scale value to control the zoom level */
}

#assessment {
  transition: transform 0.5s ease;
}

#assessment:hover {
  transform: scale(1.1); /* Adjust the scale value to control the zoom level */
}

#quality {
  transition: transform 0.5s ease;
}

#quality:hover {
  transform: scale(1.1); /* Adjust the scale value to control the zoom level */
}